<div class="card mb-3">
    <div class="card-header">
        Challenges
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'challenges_form' %}" class="data-form" data-section-id="collapseChallenges">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ challenges_form.content.id_for_label }}" class="form-label">Content</label>
                {{ challenges_form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Save Challenges</button>
            <a href="{% url 'challenges_delete' %}" class="btn btn-danger">Delete</a>
        </form>
    </div>
</div>