<div class="form-section" id="timelines">
    <h2 class="section-title"><i class="fas fa-calendar-alt me-2"></i>Timelines</h2>
    <form method="post" action="{% url 'update_timelines' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in timelines_form %}
            <div class="col-md-6 mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Update Timelines</button>
    </form>
    <hr class="my-4">
    <h3 class="h5">Current Information</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped mt-2">
            <tbody>
                <tr>
                    <th style="width: 40%;">Curriculum Finalization</th>
                    <td>{{ timelines.curriculum_finalization }}</td>
                </tr>
                <tr>
                    <th>Mou Execution</th>
                    <td>{{ timelines.mou_execution }}</td>
                </tr>
                <tr>
                    <th>Internal Approvals</th>
                    <td>{{ timelines.internal_approvals }}</td>
                </tr>
                <tr>
                    <th>Faculty Orientation</th>
                    <td>{{ timelines.faculty_orientation }}</td>
                </tr>
                <tr>
                    <th>Admission Campaign Launch</th>
                    <td>{{ timelines.admission_campaign_launch }}</td>
                </tr>
                <tr>
                    <th>Student Enrollment Begin</th>
                    <td>{{ timelines.student_enrollment_begin }}</td>
                </tr>
                <tr>
                    <th>Program Commencement</th>
                    <td>{{ timelines.program_commencement }}</td>
                </tr>
                <tr>
                    <th>Monthly Progress Reporting</th>
                    <td>{{ timelines.monthly_progress_reporting }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
